.media-app-header {
	height: 80px;
	background-color: black;
}

.media-app-header .header-text {
	color: white;
    font-size: 30px;
    margin-left: 20px;
    padding: 2px;
    display: inline-block;
    margin-top: 21px;
}